.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button.light {
  background-color: #222;
  color: #fff;
}

.button.dark {
  background-color: #fff;
  color: #222;
}