*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.appShell {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  justify-content: flex-start;
}

.appMain {
  flex: 1;
  min-width: 0;
}

.appShell > * {
  min-width: 0;
}
