.insightsLayoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.insightsMain {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
