.insightsLayoutContainer {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 0 16px;
    box-sizing: border-box;
}



.insightsMain {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 900px) {
    .insightsLayoutContainer {
        grid-template-columns: 1fr;
    }
}